<template>
  <div>
    <h2>This is All User That Already Registered</h2>
    <ul>
      <li v-for="(user, index) in users" :key="index">{{ user.name }}</li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      users: []
    };
  },
  methods: {
    seeId() {
      this.$router.push("/user/2");
    }
  },
  created() {
    axios.get("./athlete").then(res => {
      var allUser = res.data.data;
      this.users = [...allUser];
    });
  }
};
</script>
