<template>
  <div class="comments">
    <h1>This is an comments page with comments</h1>
    <form>
      <label>Comment Title:</label>
      <input type="text" v-model="comment.title" required />
      <label>Comment Content:</label>
      <textarea v-model="comment.content"></textarea>
      <!-- <button @click="addComment">Add Comment</button> -->
    </form>
    <div id="preview">
      <h3>Comment Preview</h3>
      <p>Comment Title:{{ comment.title }}</p>
      <p>Comment Content:</p>
      <p>{{ comment.content }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      comment: {
        title: "",
        content: ""
      }
    };

    // methods:{
    //   addComment: function(){
    //     var data = {comment:this.comment};
    //     this.comment.push();
    //     this.commentTittle = '';
    //   }
    // }
  }
};
</script>


<style>
#comments * {
  box-sizing: border-box;
}

#comments {
  margin: 20px auto;
  max-width: 500px;
}

label {
  display: block;
  margin: 20px 0 10px;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
}

#preview {
  padding: 10px 20px;
  border: 1px dotted #ccc;
  margin: 30px 0;
}

h3 {
  margin-top: 10px;
}
</style>