<template>
  <div class="login">
    <div class="jumbotron bg-aqua text-center">
      <h1>Login</h1>
      <span>You need to sign in first!</span>
    </div>
    <hr />

    <div class="container col-md-3 col-md-offset-2">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            v-model="userCred.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
          >We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            v-model="userCred.password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary" @click="login($event)">Login</button>
      </form>
    </div>

    <hr />
    <p>{{response}}</p>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      userCred: {
        email: "",
        password: ""
      },
      response: {}
    };
  },
  methods: {
    login(event) {
      event.preventDefault();
      axios.post("/athlete/login", this.userCred).then(res => {
        localStorage.setItem("token", res.data.data.token);
        localStorage.setItem("userId", res.data.data.user_id);
      });
      // .then(()=>{
      //     this.$router.push('/')
      // })
    }
  }
};
</script>
<style>
</style>