<template>
  <div class="task">
    <div class="jumbotron text-center">
      <h1>My Task Project for Priyo Dewanto</h1>
      <span>Hi Priyo! Welcome to Your Task Manager!</span>
    </div>
    <div class="container">
      <p :class="{'error' : error}">Please Enter a Task Here</p>
      <input type="text" v-model="taskName" />
      <button @click="addTask">submit</button>
      <p v-if="error" class="error">Please Enter a Task</p>
      <ul class="list-group">
        <li
          id="jadi-merah"
          class="list-group-item"
          v-for="(task, index) in tasks"
          :key="index"
        >{{task.name}}</li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      error: false,
      taskName: "",
      tasks: [
        {
          name: "Get Milk"
        },
        {
          name: "Get Bread"
        },
        {
          name: "Get Cheese"
        },
        {
          name: "Get Egg"
        }
      ]
    };
  },
  methods: {
    addTask: function() {
      this.error = false;
      if (this.taskName == "") {
        this.error = true;
        return;
      }
      var data = { name: this.taskName };
      this.tasks.push(data);
      this.taskName = "";
    }
  }
};
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
// @import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
h1 {
  color: black;
}
.error {
  color: red;
}
</style>