<template>
  <div>
    <h1>{{ title }}</h1>
    <p>Counter: {{ counter }}</p>
    <button @click="tambah">Tambah</button>
    <button @click="kurang">Kurang</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0,
      title: ""
    };
  },
  method: {
    tambah() {
      this.counter++;
    },
    kurang() {
      this.counter--;
    }
  }
};
</script>
